.mainCanvas{
    border: #474747 solid 2px;
    border-radius: 5px;
    position: absolute;
    left: 80px;
    top: 5px;
    z-index: 0;
}

.backCanvas{
    position: absolute;
    left: 80px;
    top: 5px;
    z-index: -1;
}