.settingBox{
    height: 200px;
    width: 300px;
    position: absolute;
    top: 240px;
    left: 1590px;
    padding: 5px;
    text-align: center;
    border:2px solid #999999;
    border-radius: 5px;
    margin: 5px;
}