.feedbackBox{
    height: 50px;
    width: 300px;
    position: absolute;
    top: 480px;
    left: 1590px;
    padding: 5px;
    /*text-align: center;*/
    /*border:2px solid #999999;*/
    /*border-radius: 5px;*/
    /*margin: 5px;*/
}

.questionnaireBox{
    height: 25px;
    width: 97px;
    position: absolute;
    top: 50px;
    left: 5px;
    text-align: center;
    background-color: white;
    border: 1px solid #707070;
    cursor: pointer;
}
.questionnaireImg{
    height: 25px;
    width: 25px;
    float: left;
}
.questionnaireText{
    height: 15px;
    width: 72px;
    font: 15px "宋体", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    /*margin-bottom: 4px;*/
    float: left;
    margin-top: 5px;
    vertical-align:middle;
    user-select: none;
}