.backFilter{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    opacity: 0.8;
    z-index: -2;
}
.penSelectBox{
    height: 100px;
    width: 55px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.shapeSelectBox{
    height: 300px;
    width: 55px;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 5px;
}
.lineWidthSelectBox{
    height: 170px;
    width: 55px;
    position: absolute;
    top: 440px;
    left: 0;
    padding: 5px;
}
.colorSelectBox{
    height: 200px;
    width: 55px;
    position: absolute;
    top: 630px;
    left: 0;
    padding: 5px;
}
.clearCanvasBox{
    height: 80px;
    width: 55px;
    position: absolute;
    top: 855px;
    left: 0;
    padding-left: 5px;
    text-align: center;
}
.lineTypeSelectBox{
    height: 170px;
    width: 55px;
    position: absolute;
    top: 50px;
    left: 70px;
    padding: 5px;
    /*background-color: #ffffff;*/
    z-index: 1;
}

.toolsSelectBorder{
    height: 100%;
    width: 100%;
    border:2px solid #999999;
    border-radius: 5px;
    padding: 5px;
    position:relative;
}

.toolsSelectTitle{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.toolsSelectTitleText{
    font: bold 17px "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    color: #4d0099;
    text-align: center;
}
.toolsSelectUl{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    text-align: center;
}
.toolsSelectLi{
    width: 30px;
    height: 30px;
    list-style: none;
    float: left;
    margin: 2px;
    display: inline;
    position: relative;
    left: 8px;
}

.colorSelectLi{
    width: 19px;
    height: 19px;
    list-style: none;
    float: left;
    margin: 2px;
    display: inline;
    position: relative;
    left: 0;
    border: #878787 solid 2px;
}
.colorSelectLiSelect{
    width: 19px;
    height: 19px;
    list-style: none;
    float: left;
    margin: 2px;
    display: inline;
    position: relative;
    left: 0;
    border: #4d0099 solid 2px;
    border-radius: 2px;
}
.toolsImg{
    text-align:center;
    justify-content: center;
}
.toolsImgSelect{
    text-align:center;
    justify-content: center;
    margin-bottom: 1px;
    border: #4d0099 solid 1px;
}

.clearBtn{
    width: 70px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow:1px 1px 1px #333;
    border-radius: 5px;
    margin:0 5px 5px 0;
    position: relative;
    overflow: hidden;
    font-size: 14px;

    border:1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
    background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
    background: linear-gradient(top,#42a4e0,#2e88c0);
}
.clearBtn:hover{
    background: -webkit-linear-gradient(top,#70bfef,#4097ce);
    background: -moz-linear-gradient(top,#70bfef,#4097ce);
    background: linear-gradient(top,#70bfef,#4097ce);
}
.clearBtn:active{
    top:1px;
    box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
    background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
    background: -moz-linear-gradient(top,#1a71a8,#1976b1);
    background: linear-gradient(top,#1a71a8,#1976b1);
}

